body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

html {
    scroll-behavior: smooth;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}
  
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.button {
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    min-height: 56px;
    cursor: pointer;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;    
}

.section {
    padding: 120px 0;
}

.head-site {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);    
}

.head-container {
    display: flex;
    align-items: center;    
}

.logo-nav-head {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-flex;
    align-items: center;
    margin-right: 76px;    
}

.logo-nav-head-span {
    color: #2e2f42;    
}

.nav-head {
    display: flex;
    align-items: center;    
}

.nav-list-head {
    display: flex;
    align-items: center;
    gap: 40px;    
}
.nav-list-head-a::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: transparent;
    position: absolute;
    bottom: -1px;    
}

.nav-list-head-a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.nav-list-head-a.current::after {
    background: #404bbf;    
}

.nav-list-head-part{
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-head-part .nav-list-head-a {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #404bbf;
    letter-spacing: 0.02em;
    padding: 24px 0;
    position: relative;   
}

.nav-list-head-part .nav-list-head-a:hover {
    color: #404bbf;
}

.nav-list-head-part .nav-list-head-a:focus {
    color: #404bbf;    
}

.address-head {
    font-style: normal;
    margin-left: auto;    
}

.address-head-list-part-a {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 16px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.address-head-list-part-a:hover, .address-head-list-part-a:focus {
    color: #404bbf;    
}

.address-head-list {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    gap: 40px;    
}

.main-order {
    max-width: 1440px;
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/background-main-img-progressive.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 188px 0;;    
}

.main-order-title {
    color: #fff;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto 48px auto;    
}

.button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
    background-color: #404bbf;
}

.priorities-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
    margin-bottom: 8px;   
}

.main-priorities-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;    
}

.main-priorities-p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;    
}

.main-priorities-list {
    display: flex;
    gap: 24px;    
}

.main-priorities-list-part {
    width: calc((100% - 24px * 3) / 4);    
}

.main-team {
    background: #f4f4fd;    
}

.main-team-title {
    color: #2e2f42;
    background-color: #f4f4fd;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.main-team-list {
    display: flex;
    gap: 24px;    
}

.main-team-list-title {
    background-color: #ffffff;
    color: hsl(237, 18%, 22%);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;    
}

.main-list-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;    
}

.main-team-list-part {
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    width: calc((100% - 24px * 3) / 4);
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);    
}

.main-team-text {
    padding: 32px 0;    
}

.main-list-icon {
    display: flex;
    justify-content: center;
    gap: 24px;    
}

.main-link-icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-link-icon:hover , .main-link-icon:focus {
    background-color: #404bbf;   
}

.main-item-icons {
    width: 40px;
    height: 40px;    
}

.main-portfolio-title {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;    
}

.main-portfolio-list-part{
    width: calc((100% - 24px * 2) / 3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-portfolio-list-part:hover , .main-portfolio-list-part:focus{
    background: #fff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.main-portfolio-list-part:hover .overlay , .main-portfolio-list-part:focus .overlay {
    transform: translateY(0%);    
}

.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    color: #f4f4fd;
    padding: 40px 32px;
    background: #4d5ae5;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 40px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;    
}

.main-portfolio-list-part {
    width: calc((100% - 24px * 2) / 3);    
}

.main-portfolio-list-title {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;    
}

.main-portfolio-list-text {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;    
}

.main-portfolio-card-list {
    border: 1px solid #e7e9fc;
    border-top: none;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}

.foot-site {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    background-color: #2e2f42;
    text-transform: uppercase;
    padding: 100px 0;
}

.foot-container {
    display: flex;
    align-items: baseline;    
}

.logo-foot {
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-foot-span {
    color: #f4f4fd;    
}

.text-foot {
    font-family: "Roboto", sans-serif;
    color: #f4f4fd;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: none;
    width: 264px;
    height: 72px;    
}

.foot-text-social {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: none;
    margin-bottom: 16px;    
}

.foot-logo-content {
    margin-right: 120px;   
}

.foot-list-icon {
    display: flex;
    justify-content: center;
    gap: 16px;    
}

.foot-item-icons {
    width: 40px;
    height: 40px;
}

.foot-link-icon {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}

.foot-link-icon:hover , .foot-link-icon:focus {
    background-color: #31d0aa;    
}

.subscribe {
    margin-left: 80px;
}

.sub-form {
    display: flex;
    gap: 24px;
}

.sub-title {
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: none;
    margin-bottom: 16px;
}

.sub-wrap {
    color: #fff;
    padding: 0 16px;
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: transparent;
}

.sub-wrap::placeholder {
    color: #fff;
}

.sub-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border-radius: 4px;
    gap: 16px;
    min-width: 165px;
    background-color: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-button:hover , .sub-button:focus {
  background-color: #404bbf;
}

.sub-button-icon {
    fill: #fff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 584px;
    width: 408px;
    padding: 72px 24px 24px 24px;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    fill: #2e2f42;
    background: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover,
.button-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    color: #2e2f42;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.form-wrap {
    margin-bottom: 8px;
}

.form-lable {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.input-field {
    position: relative;
}

.input-form {
    padding: 11px 4px 11px 38px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 40px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-form {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
    border: 1px solid #4d5ae5;
    fill: #4d5ae5;
}

.input-form:focus + .icon-form {
    fill: #4d5ae5;
}

.form-textarea-wrap {
    margin-bottom: 16px;
}

.textarea {
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    border-radius: 4px;
    outline: transparent;
    background-color: transparent;
    resize: none;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-radius: 4px;
    border: 1px solid #4d5ae5;
}

.form-checkbox-wrap {
    margin-bottom: 24px;
}

.checkbox-label {
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.custom-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-link {
    color: #4d5ae5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
}

.input-checkbox:checked + .checkbox-label > .custom-checkbox {
    border: none;
    background-color: #404bbf;
    fill: #f4f4fd;
}

@media only screen and (min-width: 768px) {
    .container {
      width: 768px;
    }
}
  
@media only screen and (min-width: 1158px) {
    .container {
      width: 1158px;
      padding: 0 15px;
    }
}

@media only screen and (min-width: 1158px) {
    .section {
      padding: 120px 0;
    }
}


